USE [master]
GO
/****** Object:  Database [SpeakDB]    Script Date: 2/19/2019 2:10:52 AM ******/
CREATE DATABASE [SpeakDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SpeakDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\SpeakDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SpeakDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\SpeakDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SpeakDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SpeakDB]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 2/19/2019 2:10:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[userID] [int] IDENTITY(1,1) NOT NULL,
	[username] [nchar](255) NOT NULL,
	[password] [nchar](255) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[userID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsersMessages]    Script Date: 2/19/2019 2:10:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsersMessages](
	[recipientID] [int] NOT NULL,
	[senderID] [int] NOT NULL,
	[message] [nchar](1023) NOT NULL,
	[dateTime] [datetime] NOT NULL,
	[status] [nchar](20) NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[UsersMessages] ADD  CONSTRAINT [DF_UsersMessages_dateTime]  DEFAULT (getdate()) FOR [dateTime]
GO
ALTER TABLE [dbo].[UsersMessages] ADD  CONSTRAINT [DF_UsersMessages_status]  DEFAULT (N'unread') FOR [status]
GO
USE [master]
GO
