{{> header }}

<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

    <div id="header">speak</div>

    <div id="content" class="conversation"></div>
    <div class="conversation">
        <span id="status">Connecting...</span>
        <input type="text" id="input" disabled="disabled" />
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="js/chat-frontend.js"></script>

{{> footer-end }}

