{{> header }}



    <div id="header">speak</div>

    <div class="loginDiv">
        Login:<br>
        <input class="input" type="text" id="user" />
        <br>
        <br>
        Passsword:<br>
        <input class="input" type="password" id="password"  />
        <br>
        <br>
        <button type="button" id="submit" >Login! ( ͡° ل͜ ͡°)</button> 
    </div>

    <div id="content" class="conversation"></div>
    <div class="conversation">
        <span id="status">Connecting...</span>
        <input type="text" id="input" disabled="disabled" />
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="js/chat-frontend.js"></script>

{{> footer-end }}

