{{> header }}

<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

    <div id="header">speak</div>

    <div class="loginDiv">
        Login:<br>
        <input type="text" id="login" />
        <br>
        <br>
        Passsword:<br>
        <input type="text" id="pasword"  />
        <br>
        <br>
        <button type="button" id="loginButton" style="margin-left: 100px ">Login!</button> 
    </div>

{{> footer-end }}
