{{> header }}

<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

    <div id="header">speak</div>

    <div class="loginDiv">
        Login:<br>
        <input class="input" type="text" id="user" />
        <br>
        <br>
        Passsword:<br>
        <input class="input" type="password" id="password"  />
        <br>
        <br>
        <button type="button" id="submit" style="margin-left: 100px ">Login! ( ͡° ل͜ ͡°)</button> 
    </div>

    <script src="js/jquery.min.js"></script>
    <script src="js/login.js"></script>

{{> footer-end }}
